@using SampleMVCDevexApp.Models

<h2>Data Grid</h2>

@(Html.DevExtreme().DataGrid().ID("gridTest")
	.ShowBorders(true)
	.DataSource(d => d.Mvc()
		.Controller("SampleData")
		.LoadAction("GetTestData")
		.InsertAction("InsertTestData")
		.UpdateAction("UpdateTestData")
		.DeleteAction("DeleteTestData")
		.Key("Id"))
	.Columns(columns => {
	columns.Add().DataField("Id"); //.AllowEditing(false);
	columns.Add().DataField("FirstName");
	columns.Add().DataField("LastName");
	columns.Add().DataField("Description");
	columns.Add().DataField("Department");
	columns.Add().DataField("Office");
	columns.Add().DataField("Phone");
	columns.Add().DataField("Email");
	columns.Add().DataField("HeadId");
	})
	.Editing(e =>
	{
		e.AllowAdding(true);
		e.AllowUpdating(true);
		e.AllowDeleting(true);
		e.UseIcons(true);
	})
	.Paging(p => p.PageSize(10))
	.FilterRow(f => f.Visible(true))
	.HeaderFilter(f => f.Visible(true))
	.GroupPanel(p => p.Visible(true))
	.Grouping(g => g.AutoExpandAll(true)) //by³o false...
	.RemoteOperations(true)
	.AllowColumnResizing(true)
	.AllowColumnReordering(true)
)

<br />
<h2>Tree List</h2>
@(Html.DevExtreme().TreeList()
		.ID("treeTest")
		.DataSource(d => d.Mvc()
			.Controller("SampleData")
			.LoadAction("GetTreeList")
			.InsertAction("InsertTreeList")
			.UpdateAction("UpdateTreeList")
			//.DeleteAction("DeleteTreeList")
			.Key("Id"))
		.KeyExpr("Id")
		.ParentIdExpr("HeadId")
		.Columns(columns => {
			columns.Add().DataField("Id"); //.AllowEditing(false);
			columns.Add().DataField("FirstName");
			columns.Add().DataField("LastName");
			columns.Add().DataField("Description");
			columns.Add().DataField("Department");
			columns.Add().DataField("Office");
			columns.Add().DataField("Phone");
			columns.Add().DataField("Email");
			columns.Add().DataField("HeadId");
		})
		.Editing(e =>
		{
			e.AllowAdding(true);
			e.AllowUpdating(true);
			e.AllowDeleting(true);
			e.UseIcons(true);
		})
		.ShowRowLines(true)
		.ShowBorders(true)
		//.ColumnAutoWidth(true)
		//.ExpandedRowKeys(new[] { 1 })
		.Selection(s=>s.Mode(SelectionMode.Single))
		.AllowColumnResizing(true)
	)

<br /><br /><br /><br />